@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Restaurant Rater is a web applications using HTML, CSS, C#, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is Restaurant Rater?</h2>
        <p>
            Restaurant Rater gives you the ability to rate your favorite or least favorite places to eat!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Checkout other apps I've created</h2>
        <p>Checkout my github to see other projects I'm currently working on have finshed</p>
        <p><a class="btn btn-default" href="https://github.com/Seth-D-Mclaughlin?tab=repositories">Github Repo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get in touch with me!</h2>
        <p>You can easily find a previous apps I've worked on, resume and links to all my Social Media and the various ways to connect with me.</p>
        <p><a class="btn btn-default" href="https://seth-d-mclaughlin.github.io/Seth-D-Mclaughlin/">Personal Website  &raquo;</a></p>
    </div>
</div>